@use '../variables' as *;


@mixin st_btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;

	text-align: center;
	white-space: nowrap;

	cursor: pointer;
	text-decoration: none;
}

//color extends
%transp_btn_1 {
	@include st_btn;

	font-weight: 600;
	color: $color_white;
	background-color: $color_accent;
	transition: 0.3s ease;

	&:hover {
		background-color: $color_white;
		color: $color_black;
	}
}

//size extends
%btn_size_1 {
	min-width: 18.1rem;
	height: 4.7rem;

	line-height: 1.5;
	font-size: 1.8rem;

	border-radius: 1.2rem;
}
%btn_size_2 {
	min-width: 17.2rem;
	height: 4.7rem;
	margin-right: 1.9rem;
	line-height: 1.5;
	font-size: 1.8rem;
	box-shadow: 0px 6px 20px 0px #706FE580;


	border-radius: 1.2rem;
}

.btn_accent_1 {
	@extend %transp_btn_1;
	@extend %btn_size_1;
}

.btn_accent_2{
	@extend %transp_btn_1;
	@extend %btn_size_2;
}
