@use './helpers/abstracts' as *;



.footer_social {
	
	margin-bottom: 4.8rem;
	border-bottom: 1px solid rgba($color: #EAEEF3, $alpha: 0.15);
}

.footer_social_w{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 4.8rem;

	
	@include bp($point_5) {
	flex-direction: column;
	}
	
}

.footer_social_list {
	display: flex;
	gap: 1.6rem;
}

.footer_social_item {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 4.8rem;
	height: 4.8rem;
	border-radius: 50%;
	background-color: $color_accent;
}

.footer_social_img {
	width: 1.4rem;
	height: 1.6rem;
}

.footer_social_img_w {
	width: 1.4rem;
	height: 1.6rem;
}

.footer_nav{
    margin-top: 4.8rem;
}

.footer_nav_list_w {
	display: flex;
    justify-content: space-between;

	
	@include bp($point_3) {
		flex-direction: column;
		align-items: center;
		row-gap: 0.5rem;
	
	}
	
}

.footer_nav_list {
	display: flex;
    align-items: center;
	gap: 8rem;
	
	@include bp($point_3) {
		flex-direction: column;
		row-gap: 0.5rem;
	
	}
	
}

.footer_nav_item {
	color: #fff;
	text-decoration: none;
	font-size: 1.4rem;
	font-weight: 400;
	line-height: 1.42;
	text-align: left;
    text-wrap: nowrap;
}



.footer_power{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7.6rem;
}

.footer_power_text{
	color: $color_white;
}


