@use './helpers/abstracts' as *;


.section--hero{
	@include bp($point_4) {
        padding: 0;
    }
}


.hero_content {
	display: flex;
	flex-direction: row;
	gap: 5.1rem;

	
	@include bp($point_2) {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
        column-gap: 0;
    }
}

.hero_content_info {
	display: block;
	max-width: 62%;
	flex-shrink: 0;
}

.hero_title_link_w {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 8px solid $color_accent;
	width: 35.4rem;
	height: 10.9rem;

}

strong {
	text-decoration: none;
	color: $color_accent;
	font-size: 6rem;
	font-weight: 700;
	line-height: 10rem;
	text-align: left;
}

.section_title--hero {
	font-size: 6rem;
	font-weight: 700;
	line-height: 11rem;
	margin-bottom: 4.2rem;
	text-align: left;

	
	@include bp($point_3) {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		font-size: 4rem;
	}
	@include bp($point_5) {
        font-size: 4.8rem;
        line-height: 1.6;
        margin-bottom: 3rem;
    }

    @include bp($point_7) {
        font-size: 1.8rem;
        line-height: 1.6;
        margin-bottom: 3rem;
    }
	

	strong {
        position: relative;
        padding: 0 3.8rem;
        display: inline-block;
        color: $color_accent;
        border: 0.8rem solid $color_accent;

        span {
            --circle-d: 2.8rem;
            --minus-half-circle-d: calc(var(--circle-d)*(-0.8));
            position: absolute;
            display: block;
            height: var(--circle-d);
            width: var(--circle-d);
            border-radius: 50%;
            border: 0.8rem solid $color_accent;
            background-color: $color_white;

            &:nth-child(1) {
                top: var(--minus-half-circle-d);
                left: var(--minus-half-circle-d);
            }

            &:nth-child(2) {
                top: var(--minus-half-circle-d);
                right: var(--minus-half-circle-d);
            }

            &:nth-child(3) {
                bottom: var(--minus-half-circle-d);
                right: var(--minus-half-circle-d);
            }

            &:nth-child(4) {
                bottom: var(--minus-half-circle-d);
                left: var(--minus-half-circle-d);
            }

            @include bp($point_4) {
                --circle-d: 2.4rem;
                --minus-half-circle-d: calc(var(--circle-d) * -0.8);
                border: 0.6rem solid $color_accent;
            }

            @include bp($point_6) {
                --circle-d: 2rem;
                --minus-half-circle-d: calc(var(--circle-d) * -0.8);
                border: 0.4rem solid $color_accent;
            }

            @include bp($point_8) {
                --circle-d: 1.8rem;
                --minus-half-circle-d: calc(var(--circle-d) * -0.8);
                border: 0.3rem solid $color_accent;
            }
        }
    }
}

.hero_title_bottom {
	display: flex;
	margin-top: 2.4rem;
	gap: 3.5rem;

	
	@include bp($point_3) {
		flex-direction: column-reverse;
		align-items: center;
	
	}
	
}


.play_btn_w{
	display: flex;
	gap: 1.3rem;
}

.play_btn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 4.8rem;
	height: 4.8rem;
	background-color: rgba(112, 111, 229, 0.1);
	border-radius: 50%;
}

.hero_content_decorbox {
	position: relative;
	width: 43rem;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	
	@include bp($point_5) {
	margin-top: 10rem;
	}
	
}

.hero_picture {
	display: flex;
	justify-content: center;
	width: 40rem;
	height: 40rem;
	border: 1rem solid $color_accent;
	border-radius: 50%;
	background-color: rgba(112, 111, 229, 0.15);
	flex-shrink: 0;
}

.hero_picture_in {
	position: absolute;
	width: 46rem;
	height: 46rem;
	bottom: 5rem;
}

.hero_decor_box_img {
	@extend %contain_img;
}

.hero-decor {
	position: absolute;

	&.hero-decor--1 {
		top: -9.2rem;
		left: -12rem;
	}
	&.hero-decor--2 {
		top: -3.7rem;
		left: -4rem;
	}
	&.hero-decor--3 {
		top: -3.9rem;
		left: 33.3rem;
	}
	&.hero-decor--4 {
		width: 8.3rem;
		height: 8.3rem;
		background-color: $color_accent;
		border-radius: 50%;

		bottom: -8.3rem;
		right: 2.8rem;

		
		@include bp($point_3) {
			bottom: -7.3rem;
			right: 5.8rem;
		}
		
	}
}

.hero_employess {
	display: flex;
	justify-content: center;
	flex-direction: column;
	position: absolute;
	width: 24rem;
	height: auto;
	box-shadow: 0px 0.6rem 2rem 0px rgba(0, 0, 0, 0.1019607843);
	background-color: #fff;
	border-radius: 1rem;
	padding: 1.4rem 2.6rem;
	bottom: -3.6rem;
	overflow: hidden;
}

.hero_employess_photo {
	display: flex;
}

.hero_employess_photo_item {
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	border: 2px solid #e9e8fa;
	overflow: hidden;
}
.hero_employess_photo_item:not(:first-child) {
	margin-left: -2rem;
}

.hero_photo {
	@extend %cover_img;
}

.hero_employess_title {
	margin-top: 0.9rem;
	margin-bottom: 0.7rem;
}

.hero_employess_title_txt {
	font-size: 2rem;
	font-weight: 600;
	line-height: 1.2;
	text-align: center;
}

.hero_employess_likes {
	display: flex;
	align-items: center;
	gap: 0.7rem;

	font-size: 1.6rem;
	font-weight: 500;
	line-height: 1.5;
	text-align: center;
}

.star {
	display: inline-block;
	width: 2.6rem;
	height: 2.6rem;
	background-image: url(../imgs/hero/Star.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}


.hero-decor--1-img{
	width: 5.1rem;
	height: 4.7rem;
}
.hero-decor--2-img{
	width: 7.4rem;
	height: 6.8rem;
}
.hero-decor--3-img{
	width: 8.4rem;
	height: 8.4rem;
}