@use './helpers/abstracts' as *;

.input {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 6.4rem;
	
	@include bp($point_3) {
		flex-direction: column;
		align-items: center;
	
	}

	
}

.input_content {
	max-width: 49rem;
	width: 100%;

	
	
	

}

.input_title {
	font-size: 4rem;
	font-weight: 700;
	line-height: 1.3;
	text-align: left;
	margin-bottom: 2rem;

	@include bp($point_5) {
		text-align: center;
	
	}
}



.input_email {
	display: flex;
	align-items: center;
	max-width: 49.1rem;
	width: 100%;
	height: 7.2rem;
	background-color: rgba(112, 111, 229, 0.1);
	border-radius: 1.2rem;
}

.email {
	margin-left: 2.2rem;
	margin-right: 1.1rem;
}

.inputt {
	flex: 1;
	border: none;
	background: transparent;
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.5;
	text-align: left;
}




.input_logo_item {
	width: 26rem;
	height: 15.8rem;
}

.input_logo_up {
	display: flex;
	margin-bottom: 6rem;
	gap: 3rem;

	
	@include bp($point_5) {
		flex-direction: column;
	
	}
	
}

.input_logo_down {
	display: flex;
	gap: 3rem;
	@include bp($point_5) {
		flex-direction: column;
	
	}
	
}

.input_logo-bg {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 5rem;
	height: 5rem;
	background-color: rgba(112, 111, 229, 0.1);
	border-radius: 25%;
}

.input_logo_img {
	margin-bottom: 1.1rem;
	width: 5rem;
	height: 5rem;
}
.input_logo-bg {
	margin-bottom: 1.1rem;
}

.input_logo_img--1 {
	width: 2.4rem;
	height: 2.4rem;
}

.input_logo_title {
	font-size: 2rem;
	font-weight: 600;
	line-height: 1.4;
	text-align: left;
	margin-bottom: 1rem;
}

.input_logo_descr {
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.75;
	text-align: left;
}

